@model LibraryWebUI.Models.Catalog.AssetIndexModel

    <div id ="assets">
        <h3>Library CataLog</h3>
        <div id ="assetTable">
        <table class="table table-condensed " id ="CatalogIndexTable">
        
        </table>
        </div>
    
    </div>
